[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
