[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://github.com/bling/vim-airline.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = http://github.com/terryma/vim-multiple-cursors.git
